<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<script>
        // Bake in the JS SDK
    (function () {
        if (!window.FB) {
            console.log("launching FB SDK")
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/sdk.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }
    }());
</script>
<body  ng-controller="LoginCtrl">

<ion-header-bar class="bar-positive">
    <h1 class="title">Fit eCity</h1>
</ion-header-bar>
<ion-content>

    <div class="upper-center">
        <img src="img/logo/fitinthecity.png" width="20%" />
        <p class="slogan">Start your challenges and get your points!</p>
    </div>
    <div class="list middle-center">
        <img src="img/buttons/facebook_login.png" ng-click="login($event)" 
             ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)"  
             class='login-button' name='facebook-login' />
        <br>
        <img src="img/buttons/google_login.png" ng-click="login($event)"
             ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)"  
             class='login-button' name='google-login' />
        <br>
        <img src="img/buttons/twitter_login.png" ng-click="login($event)" 
             ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)"  
             class='login-button' name="twitter-login" />
    </div>


</ion-content>

</body>
</html>
