<ion-view title="Fit eCity">

    <ion-content class="has-header" ng-controller = "AccountCtrl as account">
        <div class="account-content">
            <div class="account-info">

            <img class="account-img" src="img/account/jen.png">
            <h2>Jen Selter </h2>
            <!--<i class="icon ion-female"> follow me</i>-->
            </div>
        </div> 
        <section>
            <div class="button-bar" >

                <a class="button account-button" ng-click = "account.selectBtn(1)">Videos</a>
                <a class="button account-button" ng-click = "account.selectBtn(2)">Points</a>
                <a class="button account-button" ng-click = "account.selectBtn(3)">Deals</a>
            </div>
            <div class = "account-page" ng-show = "account.isSelected(1)">
                               
                <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="true">
                    <ion-slide ng-repeat="card in myactivities">
                        <div id="video-card" class="list card">
                            <div class="item item-avatar">
                                <h2>{{card.title}}</h2>
                                <p>{{card.date}}, {{card.time}}</p>
                                <p>{{card.venue}}</p>
                            </div>
                            <div class="item item-body">
                                <img class="full-image" ng-src="{{card.image_url}}">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>

            </div>
            <div class = "account-page" ng-show = "account.isSelected(2)">
                <ion-list>
                    <a ng-repeat="x in vendors" class="item item-thumbnail-left" >
                        <img ng-src="{{x.image}}">
                        <h2>{{x.name}}</h2>
                        <p>{{x.points}} points useable</p>
                    </a>
                </ion-list>
            </div>
            <div class = "account-page" ng-show = "account.isSelected(3)">
                <h2>My Deals</h2>
                <blockquote>Do it later</blockquote>
            </div>
        </section>

    </ion-content>
</ion-view>
<!--Update by Viola at 3/11-->
