<ion-view title="Fit eCity">

    <ion-content class="has-header" >
        <div class="account-content">
            <div class="account-info">

            <img class="account-img" src={{user.imgSrc}}>
            <h2>{{user.name}}</h2>
            <!--<i class="icon ion-female"> follow me</i>-->
            </div>
        </div> 
        <section ng-controller = "AccountCtrl as account">
            <div class="button-bar" >

                <a class="button account-button" ng-click = "account.selectBtn(1)">Videos</a>
                <a class="button account-button" ng-click = "account.selectBtn(2)">Points</a>
                <a class="button account-button" ng-click = "account.selectBtn(3)">Deals</a>
            </div>
            <div class = "account-page" ng-show = "account.isSelected(1)">
                               
                <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="true">
                    <ion-slide ng-repeat="card in myactivities">
                        <div id="video-card" class="list card">
                            <div class="item item-avatar">
                                <h2>{{card.title}}</h2>
                                <p>{{card.date}}, {{card.time}}</p>
                                <p>{{card.venue}}</p>
                            </div>
                            <div class="item item-body">
                                <img class="full-image" ng-src="{{card.image_url}}">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>

            </div>
            <div class = "account-page" ng-show = "account.isSelected(2)">
                <ion-list>
                    <a ng-repeat="x in vendors | orderBy:'name':reverse" class="item item-thumbnail-left"  >
                        <img ng-src="{{x.image_url}}">
                        <h2>{{x.name}}</h2>
                        <p>{{x.points}} points useable</p>
                    </a>
                </ion-list>
            </div>
            <div class = "account-page" ng-show = "account.isSelected(3)">
                <div id="vendor-offer" class="list list-inset">
                    <div class="item" ng-repeat="x in deals">
                        <p class="ion-coffee"> {{x.name}}<span class="ion-pricetag" style="float:right"> {{x.points}}points</span></p>
                    </div>
                </div>

            </div>
        </section>

    </ion-content>
</ion-view>
<!--Update by Viola at 3/11-->
